* {
  overflow-x: hidden;
}

body {
  background-color: rgba(85, 85, 85, 0.5);
}

.color {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  margin: 5px;
  width: 40px;
  background-color: var(--iro-color-value);
}

.pixel {
  background: white;
  border: 1px solid black;
  box-sizing: border-box;
  display: table-cell;
  height: 40px;
  width: 40px;
}

