<<<<<<< HEAD
body {
  background-color: rgba(85, 85, 85, 0.5);
}
=======
body{
  display: grid;
  justify-content: center;
  background-color: rgb(174, 187, 187);
}

main {
  display: flex;
}

.buttonsContainer {
  display: grid;
    width: 1px;
}

.palleteSquad{

}

>>>>>>> 663cd4ef4d80724add30f7131c32031e64b2c4b3
.color {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  margin: 5px;
  width: 40px;
  background-color: var(--iro-color-value);
}

.pixel-board {
  border-collapse: collapse;
  display: table;
}

.pixel-row {
  display: table-row;
}

.pixel {
  background: white;
  border: 1px solid black;
  box-sizing: border-box;
  display: table-cell;
  height: 40px;
  width: 40px;
}

.btn-clear {
  margin: 10px 0;
  padding: 5px;
}

.board-size {
width: 40px;
}
